.avatar{
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 16px;
    transition: all 0.3s ease;
}

.avatar:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width:767px) {
    .avatar{
        width: 150px;
        height: 150px;
    }
}