.navbar{
    height: 40px;
    border-radius: 12px;
    background: rgba(255, 255, 255);
    padding: 6px 36px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 12px;

    display: flex;
    align-items: center;
    color: #425466;

    position: sticky;
    top: 12px;
    z-index: 10;
}

.nav_links{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 12px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav_link{
    padding: 6px 12px;
    border-radius: 6px;
}

.nav_link:hover{
    background-color: #d3d3d3;
    cursor: pointer;
}
.active_link{
    color: var(--theme-color-primary);
    font-weight: 700;
}

@media (max-width:475px) {
    .navbar{
        width: fit-content;
        padding: 12px;
    }

    .nav_links{
        gap: 4px;
        font-size: 12px;
    }

    .nav_link{
        padding: 2px;
    }
}
