.main_content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(16, 26, 54);
    background: linear-gradient(126deg, rgb(20, 29, 56) 0%, rgba(15, 23, 42, 1) 30%);

    color: #94a3b8;
    line-height: 1.625;
    font-size: 16px;
}

@media (max-width:767px) {
    .main_content {
        padding: 12px;
    }
}