.intro {
    max-width: 720px;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.developer_name {
    font-size: 48px;
}

.developer_title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
}

.intro_heading {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 12px;
}

.intro_description {
    color: #94a3b8;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-top: 12px;
    max-width: 300px;
}

.action_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 24px;
}

.social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (max-width:767px) {
    .intro {
        margin-top: 16px;
    }

    .intro_description {
        width: 100%;
        font-size: 18px;
    }

    .action_buttons {
        flex-direction: column;
    }
}