.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 56px;
}

.section_heading{
    font-size: 36px;
    margin: 12px;
}

.section_subheading{
    font-size: 18px;
    margin: 12px;
    text-align: center;
}

.social_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .section_heading{
        font-size: 26px;
    }
    .section_subheading{
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 24px;
    }
}
