.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 36px;
}

@media (max-width:470px) {
    .contact {
        margin-bottom: 12px;
    }
}