.navbar{
    height: 40px;
    border-radius: 12px;
    background: rgba(255, 255, 255);
    padding: 6px 36px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 12px;

    display: flex;
    align-items: center;
    color: #425466;
}

.nav_links{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 36px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

@media (max-width:475px) {
    .navbar{
        width: fit-content;
        padding: 12px;
    }

    .nav_links{
        gap: 8px;
        font-size: 12px;
    }
}
